{% extends "layout.html" %}

{% block title %}
    Cambiar Contraseña
{% endblock %}
{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="original" placeholder="password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="new password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="confirm" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
