{% extends "layout.html" %}

{% block title %}ejercicios{% endblock %}

{% block body %}
<div class="container">
    {{dato["enunciado"]|safe}}
    <ol type="a">
        {% if a %}
    <li class="mt-2">
        {% for i in a %}
        <input type="text" class="mx-2">
        {% endfor %}
    </li>
    {% endif %}
    {% if b %}
    <li class="mt-2">
        {% for i in b %}
        <input type="text" class="mx-2">
        {% endfor %}
    </li>
    {% endif %}
    {% if c %}
    <li class="mt-2">
        {% for i in c %}
        <input type="text" class="mx-2">
        {% endfor %}
    </li>
    {% endif %}
</ol>

<input type="submit" value="Probas" class="btn btn-info">
</div>
{% endblock %}