{% extends "layout.html" %}

{% block title %}operaciones{% endblock %}

{% block body %}
<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="https://jhancock532.github.io/link-hover-effects/">Fundamentos</a>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="https://jhancock532.github.io/link-hover-effects/">Absorcion</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Humidifacion</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Destilacion</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Extraccion Liquido-Liquido</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Adsorcion</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Lixiviacion</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Secado</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Cristalizacion</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">¿Estás Listo?</a>
</div>
{% endblock %}