{% extends "layout.html" %}

{% block title %}
	Crear Cuenta
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
<script src="{{ url_for('static',filename='login.js') }}"></script>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{{url_for('register')}}", method="POST">
			<h1>Crear Cuenta</h1>
			<input type="text" placeholder="Nombre" name="name"/>
			<input type="email" placeholder="Email" name="email"/>
			<input type="password" placeholder="Contraseña" name="password1"/>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{{url_for('register')}}", method="POST">
			<h1>Crear Cuenta</h1>
			<input type="text" placeholder="Nombre" name="name"/>
			<input type="text" placeholder="Apellido" name="apellido" />
			<input type="email" placeholder="Email" name="email"/>
			<input type="text" placeholder="username" name="username"/>
			<input type="password" placeholder="Contraseña" name="password"/>
			<input type="password" placeholder="Confirmar Contraseña" name="confirmation">
			<button>Sign Up</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>¡Bienvenido a masita!</h1>
				<h4>¡Aprendamos de transferencia de masa!</h4>
				<p>Para desbloquear el contenido, deberás crearte una cuenta o acceder a ella.</p>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>¡Bienvenido a masita!</h1>
				<h4>¡Aprendamos de transferencia de masa!</h4>
				<p>Para desbloquear el contenido, deberás crearte una cuenta o acceder a ella.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}